body {
    background-image: url('../images/Skaia_Clouds.png');
    font-family:'Courier New', Courier, monospace;
}

ul {
    list-style-type: none;
    text-align:left;
    margin:0px;
    padding:0px;
}

.taller {
            min-height: 400px;
        }